@import "tailwindcss";

body {
  background-color: #eaebec;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-flip {
  animation: flip 1.5s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center;
}

.card-flip,
.card-flip * {
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.457);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flip {
  0% {
    transform: perspective(900px) rotateY(0deg);
  }
  50% {
    transform: perspective(900px) rotateY(180deg);
  }
  100% {
    transform: perspective(900px) rotateY(0deg);
  }
}
